{% extends 'stable/base.html.twig' %}

{% block title %}Beginner guide to generate Waifu with Stable Diffusion
{% endblock %}

{% block body %}

    <article id="main_content" class="prose lg:prose-xl prose-slate dark:prose-invert max-w-screen-lg mx-auto
        prose-p:text-justify prose-p:font-stable
        prose-a:text-blue-400 prose-a:underline prose-a:decoration-orange-400 prose-a:transition-all prose-a:underline-offset-1
        hover:prose-a:text-orange-400 hover:prose-a:decoration-transparent        
        prose-img:shadow-md prose-img:shadow-slate-500 prose-img:rounded-xl
        prose-headings:font-stable-title  
        prose-code:overflow-x-auto prose-code:block lg:prose-code:!inline prose-code:whitespace-nowrap prose-code:font-mono prose-code:font-normal 
        prose-code:text-[15px] prose-code:text-slate-300 prose-code:bg-slate-800 prose-code:py-0.5 prose-code:px-2 prose-code:rounded-md 
        prose-h2:text-orange-400
        prose-h3:text-purple-400
        prose-h4:text-emerald-500        
        prose-h5:text-indigo-300 prose-h5:font-medium js-toc-content space-y-4
    ">
    
        {{ include("stable/start.html.twig") }}          

        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/model.html.twig") }}
        </div>   
        
        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/models-choices.html.twig") }}
        </div>

        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/batch-explain.html.twig") }}
        </div>
    
        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/prompting.html.twig") }}
        </div>

        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/overloaders.html.twig") }}
        </div>   

        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/samplers.html.twig") }}
        </div>     

        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/txt2img.html.twig") }}
        </div>  

        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/img2img.html.twig") }}
        </div>     

        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/upscaling.html.twig") }}
        </div>     
        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/inpainting.html.twig") }}
        </div>   
                <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/finish.html.twig") }}
        </div>   
        <div class="rounded-md p-7 bg-slate-600">
            <h2 id="tips">Tips</h2>
            <h3 id="tips_hideSamplers">Hide useless samplers</h3>
            <img src=" {{ asset('build/images/stable/hide-sampler.png') }}" alt="hide-sampler">
        </div>
        <div class="rounded-md p-7 bg-slate-600">
            {{ include("stable/extension.html.twig") }}
        </div>
    </article>
{% endblock %}
