<p class="italic font-medium text-cyan-300">«Painting? but why do you want me to paint, if I use an AI it's because I don't know! »</p>

<h2 id="inpainting">Inpainting</h2>

<h3 id="inpainting_whole">Inpainting the whole picture</h3>
<p>Once you've got an image you like, which you've passed through txt2img, img2img, you may find that certain elements still don't fit, such a hand, or the background of the image. 
To correct these elements, you can define a particular area by "painting" it and generate images in which only that part will be modified.</p>

<p>In general, I recommend correcting large details before doing any upscaling, once you have an image that suits you in low resolution, upscale it a 1st time, take that image, correct it, and then upscale it one last time.</p>

<div class="grid items-center justify-center grid-cols-1 gap-4 text-center md:grid-cols-2">
		<div>in txt2img i generated this image
		<img src="{{ asset('build/images/stable/inpainting/original.webp') }}" alt="hide-sampler">
	</div>
		<div> and i paint this zone with inpainting
		<img src="{{ asset('build/images/stable/inpainting/masque.webp') }}" alt="hide-sampler">
	</div>
</div>

<p>To direct the AI,<span class="text-yellow-400"> I only  modify the part of the prompt</span> that interests me according to what I want to have. For the moment, it's better to leave the whole prompt.</p>
<img class="mt-0" src="{{ asset('build/images/stable/inpainting/exemple.png') }}" alt="hide-sampler">


<div class="grid items-center justify-center grid-cols-1 md:grid-cols-2 gap-x-4">
	<div><pre class="mb-1">white hair</pre></div>
	<div><pre class="mb-1">pink hair</pre></div>
	<div><img class="!mt-0" src="{{ asset('build/images/stable/inpainting/white.webp') }}" alt="hide-sampler"></div>
	<div><img class="!mt-0" src="{{ asset('build/images/stable/inpainting/pink.webp') }}" alt="hide-sampler"></div>
</div>


<div class="grid items-center justify-center grid-cols-1 md:grid-cols-2 gap-x-4">
	<div><pre class="mb-1">white hair, bob cut</pre></div>
	<div><pre class="mb-1">pink hair, multiple braid</pre></div>
	<div><img class="!mt-0" src="{{ asset('build/images/stable/inpainting/white-short.webp') }}" alt="hide-sampler"></div>
	<div><img class="!mt-0" src="{{ asset('build/images/stable/inpainting/pink-braid.webp') }}" alt="hide-sampler"></div>
</div>

<p>For after, we'll say that the image with the white and short hair suits me. So I upscale with this one with «Send to Img2img»</p>

<p>Once you've upscaled the image - and I'd advise you to use the "ultimate SD upscale" extension - you can once again correct details in this image by sending it to "InPainting". But you'll run into a problem.</p>

<p>I remind you that going beyond 700px images is starting to cause problems, and you could exceed the VRAM limit of your graphics card.</p>

<p>And now you have an image that exceeds 1000px in height. To get around this problem effectively, you'll have to play around with some parameters :</p>

<h3 id="inpainting_masked">Painting only the masked</h3>

<p>In this example, I'm going to assume that I'm not satisfied with the eyes. So, as before, I'm going to cover the area in question</p>

<div class="grid items-center justify-center grid-cols-1 text-center md:grid-cols-2 gap-x-4">
	<div>(creepy, huh?)</div>
	<div>i added : <code>blue eyes</code></div>
	<div><img class="!mt-0 mx-auto" src="{{ asset('build/images/stable/inpainting/inpainting-2-1.png') }}" alt="hide-sampler"></div>
	<div><img class="!mt-0 mx-auto" src="{{ asset('build/images/stable/inpainting/inpainting-2-2.png') }}" alt="hide-sampler"></div>
</div>

<p>And for the parameters : </p>
<img src="{{ asset('build/images/stable/inpainting/inpaiting-phase-2.png') }}" alt="hide-sampler">

<ol>
	<li>just for be sure</li>
	<li> THE MOST IMPORTANT HERE, when you choose this option, you tell the software to redo only the masked part; it will cut out a rectangle and work only on it, ignoring the rest of the image to avoid filling the ram unnecessarily. 
	The software simply glues the new section onto the old image at the end, merging them together.</li>
	<li>Because we have check "only masked" this parameter will not generate the full image in 512px–</li>
	<li>– But only the part i have only the area I've covered. in this exemple, the eyes.</li>
	<li>As we generate lots of small images, feel free to increase these two values and send lots in a row.</li>
	<li>This one, just like img2img, so feel free to play around with it. Each change will require a different value.</li>
	<li>Sometimes, you'll want the inpainting to overflow a little and be more progressive (or less). This is the value you need to change.</li>
	<li>Adding more padding, around your painted area, certainly increases the size of your image to be generated. But the AI needs the nier pixels to know in which direction to go. Increasing the value can sometimes help to control it better.</li>
</ol>

<p>The result :</p>

<img class="" src="{{ asset('build/images/stable/inpainting/inpainting-2-3.jpg') }}" alt="hide-sampler">